body {
margin: 0
color; #2568596
background-color: #9975672;
font-family: "Libre Caslon Text", Georgia, serif;
}


h1{
color:#255472
font: size 15px;
}



main {
max-width
margin: 2px;
padding: 4px
}

